### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml


.classpath
.factorypath
.project
.settings
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


*.xml
.idea/codeStyles/Project.xml
/PCDProjectACM.iml

# VS Code Nightmare
src/resources/*